@import url(../material/material-design-icons.css);

html, body {
    min-height: unset !important;
}

* {
    font-family: 'Roboto' !important;
    font-size: 14px;
    user-select: none !important;
}